<div class="col d-flex justify-content-center flex-wrap">
    <div class="p-1">
        <mat-form-field>
            <input matInput placeholder="Localizador" name="mail" [(ngModel)]="mail">
        </mat-form-field>
    </div>
    <div class="p-1">
        <button mat-raised-button color="primary" (click)="search()" [disabled]="loading['search'] || mail == '' || !mail">Buscar <span *ngIf="loading['search']"><i class="fas fa-spinner fa-pulse"></i></span></button>
    </div>
</div>
<div class="d-flex justify-content-between" *ngIf="data.length > 0 || noResults" [style.max-height.px]="maxHeight" style="overflow: auto">
    <div class="container alert alert-warning" role="alert" *ngIf="noResults">
        No se encontraron coincidencias
    </div>
    <mat-list class="container" *ngIf="data.length > 0">
        <ng-container *ngFor="let item of data; index as i">
            <div class="container d-flex justify-content-between">
                <mat-form-field class="m-1" [style.width.px]="100">
                    <span class="text-center text-info" matPrefix><i class="fab fa-slack-hash"></i></span>
                    <input class="ml-2" type="text" matInput placeholder="Localizador" [value]="item['masterItemLocator']" readonly>
                </mat-form-field>
                <mat-form-field class="m-1">
                    <span class="text-center text-info" matPrefix><i class="fas fa-envelope"></i></span>
                    <input class="ml-2" type="text" matInput placeholder="Titular" [value]="item['titular']" readonly>
                </mat-form-field>
                <mat-form-field class="m-1">
                    <span class="text-center text-info" matPrefix><i class="fas fa-envelope"></i></span>
                    <input class="ml-2" type="text" matInput placeholder="Monto Item" [value]="(item['montoItem'] | currency:'MXN':'symbol-narrow':'.2-2') + ' ' + item['moneda'] " readonly>
                </mat-form-field>
                <mat-form-field class="m-1">
                    <span class="text-center text-info" matPrefix><i class="fas fa-envelope"></i></span>
                    <input class="ml-2" type="text" matInput placeholder="Monto Ref" [value]="(item['montoRef'] | currency:'MXN':'symbol-narrow':'.2-2') + ' ' + item['moneda'] " readonly>
                </mat-form-field>
                <mat-chip-list class="m-1">
                    <mat-chip [color]="item['tipoPago'] == 'PayPal' ? 'primary' : item['tipoPago'] == 'Santander' ? 'danger' : 'info'" selected>{{ item['tipoPago'] }}</mat-chip>
                </mat-chip-list>
                <mat-chip-list class="m-1">
                    <mat-chip [color]="item['linked'] == 1 ? 'success' : 'warn'" selected>{{ item['linked'] == 1 ? 'Ligado' : 'Libre' }}</mat-chip>
                </mat-chip-list>
                <div class="p-2">
                    <button mat-raised-button color="primary" (click)="select(item)" [disabled]="loading['select'] || item['linked'] == 1"><i class="fas fa-check"></i></button>
                </div>
            </div>
            <mat-divider></mat-divider>
        </ng-container>
        <mat-divider></mat-divider>
    </mat-list>

</div>